form{
    border: 1px solid black;
    padding: 1rem;
    border-radius: 10px;
    #one{
        border: 1px solid red;
        padding: .5rem;
    }
    #two{
        border: 1px solid green;
        padding: .5rem;
    }
}